# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/contentModel.xml
/modules.xml
/.idea.Lockpicking Minigame.iml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Учеба\Мага. Часть 1. Oh shit, here we go again\Современный платформы программирования\Лаба 1\Lockpicking Minigame\.idea\.idea.Lockpicking Minigame\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
